.shop-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 100px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 30px 30px;
}

.cart-container{
    position: sticky;
    top: 0;
}

.choose-btn{
    margin-top: 20px;
    border: none;
    background-color: rgb(243, 190, 92);
    border-radius: 10px;
 
}

.choose-btn:hover{
    background-color: orange;
}

@media screen and (max-width:692px) {
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
}

